services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5555:5432"
    volumes:
      - unnamed-food-project:/var/lib/postgresql/data
  backend:
    build:
      dockerfile: backend/Dockerfile
    depends_on:
      - db
    command: sleep infinity


volumes:
  unnamed-food-project:
